
/*{ 
    margin: 0;
    padding: 0;
    
   
}*/

.fonts-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.header{
     background-color: #FFFFFF;
     
    
     

     
}
.nav{
     width: 85%;
     max-width: 1360px;
     margin: 0 auto;
     display: flex;
     justify-content:space-between;
     align-items: center;
  padding: 16px 120px;
     
     
}
nav .menu{ 
    display: flex;
    list-style-type: none;
    gap: 32px;
    text-align: center;
    text-decoration: none;
   
}
nav .menu a{
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    
}
.menu a:hover{
    background-color: aqua;
}
button{
   background: #30B868;
   color: #FFFFFF;
   font-weight: 600;
   font-size: 16px;
   padding: 12.5px 16px;
   border-radius: 4px;
   cursor: pointer;
   border: 0px;
}
button:hover{
    background-color: aqua;  
}

#banner {
    background-image: url("/hero-bg.png") ; 
    width: 100%;
    height: 674px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    
}

.banner-content {
    max-width: 1360px;
    max-height: 380px;
    margin-bottom: 80px;
}


.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 8px 12px;
    
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    color: #30B868;
}

.dot {
    width: 16px;
    height: 16px;
    background-color: #30B868; 
    border-radius: 8px;
   
}


#banner h1 {
    font-family: inter;
    font-size: 72px;
    font-weight: 700;
    
    line-height: 84px;
    margin-top: 16px;
    width: 770px;
    height: 168px;
    text-align: center;
    text-transform: capitalize;
     
}

.highlight {
    color: #30B868;
}

#banner p {
    font-size: 18px;
    line-height: 24px;
    text-align: 0%;
    margin-bottom: 40px;
    font-weight: 400;
    color: #FFFFFF;
    
}


.banner-btns {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn-first {
    background-color: #30B868;
    color: #FFFFFF;
    padding: 16px 46px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    
}

.btn-secondary {
    background: transparent;
    color: #FFFFFF;
    padding: 16px 46px;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    
}


.btn-first:hover {
    background-color: aqua;
}

.btn-secondary:hover {
    background: rgb(233, 223, 223);
    color: #000;
}

.notes-section {
    padding: 80px 0;
    text-align: center;
    background-color: #e0cccc;
    font-family: 'Inter', sans-serif;
}

.section-header h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.section-header p {
    color: #627382;
    margin-bottom: 44px;
}


.notes-wrapper {
    display: flex; 
    justify-content: space-between;
    gap: 24px;
    max-width: 1360px;
    margin: 0 auto;
}


.note-card {
    flex: 1; 
    background: #FFFFFF;
    padding: 24px 24px;
    border-radius: 8px;
    box-shadow: 4px 20px rgba(0, 0, 0, 0.02);
}


.icon-bg {
    width: 60px;
    height: 60px;
    background-color: #f95555; 
    border-radius: 50%; 
    margin: 0 auto 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-bg img {
    width: 32px; 
    height: 32px;
   
}

.note-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 12px;
}

.note-card p {
    font-size: 16px;
    color: #627382;
    line-height: 1.6;
    font-weight: 400;
}
