
/*{ 
    margin: 0;
    padding: 0;
    
   
}*/

.fonts-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.header{
     background-color: #FFFFFF;
     padding: 16px 120px;
    
}
.nav{
     width: 85%;
     max-width: 1360px;
     margin: 0px auto;
     display: flex;
     justify-content:space-between;
     align-items: center;
     
     
}
nav .menu{ 
    display: flex;
    list-style-type: none;
    gap: 32px;
    text-align: center;
    text-decoration: none;
   
}
nav .menu a{
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    
}
.menu a:hover{
    background-color: aqua;
}
button{
   background: #30B868;
   color: #FFFFFF;
   font-weight: 600;
   font-size: 16px;
   padding: 12.5px 16px;
   border-radius: 4px;
   cursor: pointer;
   border: 0px;
}
button:hover{
    background-color: aqua;  
}

